
/* .App {
  text-align: center;
} */

/* #navbar {
  background-color: rgb(2, 99, 121);
  height: 40px;
  width: 1200px;
}  */


.App-logo {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100px;
  padding-left: 20px;
  pointer-events: none;
}

.add {
  position: sticky;
  border-right: black;
  border-style: solid;
  border-width: 3px;
}

.receive {
  position: sticky;
  border-left: black;
  border-style: solid;
  border-width: 3px;
}

/* .category {
  display: block;
  margin-left: 70px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
} */

input[type="radio"] {
  margin-top: 1px;
  vertical-align: center;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.link {
  padding-bottom: 15px;
}

textarea {
  height: 100px;
  width: 200px;
}

.write_label {
  margin-top: 50px;
}

body {
  background-color: rgb(144, 204, 219);
  /* (85, 150, 179) */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
  margin:1px;
  padding:1px;
  color:rgb(0, 1, 1);
}

input {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  font-size: small;
  padding: 10px;
}

h1 {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom-style: solid;
}

h2 {
  margin-top: 15px;
  font-size: 28px;
}

h3 {
  margin-top: 8px;
  font-size: 22px;
}


p {
  font-size: 25px;
}

.instructions {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 2px 12px 12px 12px;
  text-align: left;
}

.App {
  text-align: center;
}

.instructions-basic-path {
  text-align: left;
}

.App-header {
  /* padding-top: 4px;
  padding-bottom: 10px;
  min-height: 30vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.App-link {
  color: #61dafb;
}

.links {
  color:rgb(0, 1, 1);
}

.links:visited {
  color:rgb(169, 199, 216);
  border: rgb(0, 1, 1);
  border-width: 2px;
    /* (56, 101, 199) */
    /* (23, 80, 202) */
}

tr, th {
  border: 2px solid rgb(56, 101, 199);
  padding: 1px;
  color:rgb(0, 0, 0);
  /* display: inline-block; */
  /* align-self: center; */
}

/* tr, td {
  border: 2px solid rgb(56, 101, 199);
  padding: 12px;
  color:rgb(56, 101, 199);
} */

/* tr:nth-child(even){background-color: #aee1b8;} */

/* td:hover {background-color: #73ae7f;}

th:hover {background-color:rgb(32, 80, 39);} */

/* Link:link {color:rgb(187, 225, 201);} */

/* .nav-link {
  text-decoration: inherit;
  color:rgb(188, 230, 194);

} */
 /* new
hr {
  color: rgb(169, 199, 216);
} */


/* th {
  align-items: center;
  padding-top: 1px;
  padding-bottom: 10px;
  width: 85%;
  text-align: center;
  background-color: #e5eee8;
  color: rgb(5, 5, 5);
  padding-left: 400px;
  display: inline;
} */

.eachFortune {
  align-self: center;
  background-color: rgb(224, 234, 240);
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  align-items: center;
  padding-bottom: 35px;
}

table {
  margin-right: auto;
  margin-left: auto;
}

/* new */
#wholeNavbar {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: rgb(30, 74, 85);
  padding-right: 0px;
  display: flex;
} */

.links {
  display: flex;
  border-right: 1px solid rgb(253, 253, 253);
}

#historyFortune {
  background-color: rgb(224, 234, 240);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

li a:hover {
  background-color: rgb(0, 0, 0);
}

li:last-child {
  border-right: none;
}

.pageLinks:visited {
  color:rgb(36, 53, 151);
}

button {
  margin-bottom: 15px;
  display: inline;
}